.button {
  width: 100%;
  min-height: 42px;
  padding: 8px 10px 10px 13px;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $white;
  background-color: $room-button-bg;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $room-button-bg--hover;
    box-shadow: 0px 4px 4px $gray-special;
  }

  &:active {
    color: $room-button-color--active;
    border: none;
    box-shadow: none;
  }

  @media (min-width: $tablet-width) {
    min-height: 48px;
    padding: 11px 11px 13px 12px;
    font-size: 16px;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    padding: 11px 24px 13px 25px;
    border-radius: 5px;
    margin-top: 2px;
  }
}
