.page {
   height: 100%;
   font-style: normal;
   font-family: $defult-font;
   font-size: 16px;
   line-height: 24px;
   font-weight: bold;
   color: $white;
}

.page__body {
   display: flex;
   align-items: center;
   min-height: 100%;
   margin: 0 auto;
   min-width: 320px;
   background: url("../img/bg-mobile.svg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center;
   background-size: cover;

   @media (min-width: $tablet-width) {
      background-image: url("../img/bg-tablet.svg");
   }

   @media (min-width: $desktop-width) {
      background-image: url("../img/bg-desktop.svg");
   }
}

.page__main {
   margin: 0 auto;
   padding: 24px 16px 20px;
   max-width: 1280px;

   @media (min-width: $tablet-width) {
      padding: 27px 20px 0;
   }
}
