.room-card {
   position: relative;
   min-height: 347px;
   min-width: 288px;
}

.room-card__img {
   display: block;
   margin: 0 auto;
   border-radius: 13px;

   @media (min-width: $tablet-width) {
      border-radius: 10px;
   }
}

.room-card__offer {
   position: absolute;
   top: 20px;
   left: 20px;
   width: 215px;
   min-height: 30px;
   background: url("../img/image.svg");
   background-repeat: no-repeat;
   z-index: -1;
   opacity: 0;

   &--active {
      opacity: 1;
   }

   &--opacity {
      opacity: 0;
   }

   @media (min-width: $tablet-width) {
      top: 25px;
      left: 25px;
   }
}

.room-card__sourse:hover .room-card__offer {
   z-index: 3;
}

.room-card__offer-text {
   margin: 0;
   padding: 3px 15px;
   font-size: 14px;
   font-style: normal;
   font-family: "Roboto", "Arial", sans-serif;
}

.room-card__info {
   position: absolute;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 100%;
   padding: 21px;
   border-radius: 13px;
   background: $room-bg;
   z-index: 1;

   @media (min-width: $tablet-width) {
      padding: 24px;
      border-radius: 10px;
   }

   @media (min-width: $desktop-width) {
      padding-bottom: 22px;
   }
}

.room-card__title {
   margin: 0;
   margin-right: auto;
   padding: 10px 0;
   font-size: 20px;
   font-family: "Roboto", "Arial", sans-serif;
   cursor: pointer;

   @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 32px;
   }
}

.room-card__title-link {
   color: $white;
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }

   &:active {
      text-decoration: none;
      color: $white-light-opasity;
   }
}

.room-card__description {
   max-height: 120px;
   margin: 2px 0 21px;
   padding-bottom: 20px;
   font-size: 14px;
   line-height: 21px;
   font-weight: normal;
   border-bottom: 1px solid $white-superopasity;
   overflow-y: auto;

   @media (min-width: $tablet-width) {
      margin: 0 0 20px;
      padding-bottom: 21px;
      font-size: 16px;
      line-height: 24px;

      & br {
         display: none;
      }
   }

   @media (min-width: $desktop-width) {
      margin: 0 0 21px;
   }
}

.room-card__box {
   display: flex;
   flex-direction: column;

   @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: flex-end;
   }
}

.room-card__price-text {
   margin: 0;
   margin-bottom: 15px;
   font-size: 14px;
   line-height: 16px;

   @media (min-width: $tablet-width) {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 16px;
   }

   @media (min-width: $desktop-width) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 23px;
      min-width: 120px;
   }
}

.room-card__price-sum {
   display: inline-block;
   padding: 0 3px;
   font-size: 20px;
   line-height: 32px;
   font-family: "Roboto", "Arial", sans-serif;
   color: $pink-special;

   @media (min-width: $tablet-width) {
      font-size: 24px;
      padding: 0 4px;
   }
}

.room-card__price-rubles {
   display: inline-block;
   vertical-align: top;
   padding-top: 2px;
   font-size: 20px;
   line-height: 32px;
   font-weight: normal;
   color: $white-opasity;

   @media (min-width: $tablet-width) {
      vertical-align: baseline;
      font-size: 23px;
      color: $gray-light;
   }
}

.room-card__reserve {
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
   height: 100%;
   border-radius: 13px;
   background: $white-special-opasity;
   cursor: pointer;
   z-index: 3;

   &--current {
      z-index: -2;
   }
}

.room-card__reserve:hover {
   z-index: 3;
}

.room-card__reserve-box {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 150px;
   width: 100%;
   border-radius: 0 0 13px 13px;
   background-color: $gray;

   @media (min-width: $tablet-width) {
      height: 162px;
   }

   @media (min-width: $desktop-width) {
      height: 96px;
   }
}

.room-card__payment {
   font-size: 14px;
   line-height: 20px;
   font-weight: normal;
   text-align: center;
}

.room-card__payment-link {
   color: $room-link-color;
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }

   &:active {
      color: $room-link-color--active;
   }
}
