.rooms__title {
   margin-bottom: 24px;

   @media (min-width: $tablet-width) {
      margin-bottom: 26px;
   }
}

.rooms__list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   padding: 0;
   list-style: none;

   @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
   }
}

.rooms__item {
   margin-bottom: 32px;

   &:nth-last-child(1) {
      margin-bottom: 0px;
   }

   @media (min-width: $tablet-width) {
      margin-bottom: 37px;

      &:nth-last-child(1) {
         margin-bottom: 37px;
      }
   }

   @media (min-width: $desktop-middle-width) {
      margin-right: 32px;

      &:nth-child(3n) {
         margin-right: 0;
      }
   }
}
