.title {
   margin: 0 auto;
   font-size: 24px;
   line-height: 32px;
   font-family: "Roboto", "Arial", sans-serif;
   text-align: center;
   color: $black;
   text-transform: uppercase;

   @media (min-width: $tablet-width) {
      font-weight: 500;
      font-size: 36px;
      line-height: 55px;
   }

   @media (min-width: $desktop-width) {
      margin-left: 11px;
   }
}
