// Colors

$black: #000000;
$pink: #f91155;
$pink-dark: #d8003f;
$pink-light: #f9637c;
$pink-special: #ff4b77;
$pink-opacity: #ff97b0;
$orange: #ff7647;
$gray: #3c3e43;
$gray-light: #999999;
$white: #ffffff;
$white-opasity: rgba(255, 255, 255, 0.6);
$white-light-opasity: rgba(255, 255, 255, 0.5);
$white-special-opasity: rgba(255, 255, 255, 0.4);
$white-superopasity: rgba(255, 255, 255, 0.2);
$blue-dark-gradient: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%);

$room-button-bg: $pink;
$room-button-bg--hover: $pink-dark;
$room-button-color--active: $pink-light;

$room-link-color: $pink-special;
$room-link-color--active: $pink-opacity;

$room-bg: $blue-dark-gradient;

// Fonts

$defult-font: "Open Sans", "Arial", sans-serif;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-middle-width: 1050px;
$desktop-width: 1280px;
